<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Nodejs Mysql CRUD Aji FR</title>
    <!-- NAVIGATION -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">
  </head>
  <body>

    <!-- navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="/">Selamat Datang di Contoh Aplikasi CRUD NodeJS Mysql Sederhana</a>
    </nav>
    
